{% include "./header.html" %}
{% include "./nav.html" %}
{% load static %}

<body>

<div class="title">
    <h2>About Us</h2>
</div>

<div class="container-fluid">
    
    <br><br>
    <div  class="aboutus-content" >
        
        <h1>More than 35+K Student complete their courses</h1>
        <div class="about-content">
            <img id="whychooseus" src="{% static '/images/whychooseus-image.jpg' %}" alt="homepage-elearning" width="50%" height="350px">
            <p>Provide most popular courses that your want to join and lets start the 
course for the most simply courses here you can build your career 
very smoothly</p>
        
        </div>
    </div>
    </div>

    <div class="container-fluid">
        <br><br>
        <div  class="aboutus-content" >
            
            <h1>Our Campus Gallery</h1>
            <div class="about-content">
                <p>Provide most popular courses that your want to join and lets start 
the course for the most simply courses here you can build so we 
can complete the all others opportunity which is more best</p>
<img id="whychooseus" src="{% static '/images/whychooseus-image.jpg' %}" alt="homepage-elearning" width="50%" height="350px">
            
            </div>
        </div>
        </div>

</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12" id="footer">
            <img id="logo" src="{% static '/images/elearning_logo.png' %}" alt="elearning logo" width="200px" height="150px">

            <div id="footer-content">
                <h5>Academic Info</h5>
                <ul style="list-style-type: none; margin: 0; padding: 0;">
                    <li>
                        <a class="nav-link"  href="#" style="font-size: 15px;">About Us</a>
                    </li>
                    <li>
                        <a class="nav-link"  href="#" style="font-size: 15px;">Our Courses</a>
                    </li>
                </ul>
            </div>
            <div>
                <h5 >Contact Us</h5>
                <p>512/F, Central Road, Main Town Jackson Heights. New York</p>
                <br>
                <span>info@admissionexample.com</span><br>
                <span>www.admissionexample.com</span>
                <p>+12345 678 910/+12345 678 910</p>
            </div>
        </div>
        
    </div>

    <div class="copyright-content">
        Copyright &copy; 2024 Advanced Web Developement Final Assignment
    </div>
</div>
    </body>
</html>