{% load static %}

<nav class="navbar navbar-expand-lg ">
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link" style="font-size: 15px;" aria-current="page" href="/student-login">Login as student</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" style="font-size: 15px;" aria-current="page" href="/teacher-login">Login as teacher</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" style="font-size: 15px;" href="/register-student">Register As Student</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" style="font-size: 15px;" href="/register-teacher">Register As Teacher</a>
              </li>
            </ul>
          </div>
    
</nav>
<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid" >
        <div class="navbar-brand" class="logo" style="margin-top: -40px; margin-bottom: -40px;">
            <img id="logo" src="{% static '/images/elearning_logo.png' %}" alt="elearning logo" width="150px" height="100px">
            
        </div>  
    </div>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/about">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/courses">Courses</a>
              </li>
              <li class="nav-item">
                <a class="nav-link " href="/contact">Contact</a>
              </li>
        </ul>
    </div>
</nav>
